/**
Using bootstrap breakpoints
 */

$hg_breakpoint: 1400px;
$xl_breakpoint: 1200px;
$lg_breakpoint: 992px;
$md_breakpoint: 768px;
$xs_breakpoint: 576px;


@mixin break_xs {
  @media (min-width: #{$xs_breakpoint}) and (max-width: #{$md_breakpoint - 1}) {
    @content;
  }
}

@mixin break_md {
  @media (min-width: #{$md_breakpoint}) and (max-width: #{$lg_breakpoint - 1}) {
    @content;
  }
}

@mixin break_lg {
  @media (min-width: #{$lg_breakpoint}) and (max-width: #{$xl_breakpoint - 1}) {
    @content;
  }
}

@mixin break_xl {
  @media (min-width: #{$xl_breakpoint}) and (max-width: #{$hg_breakpoint - 1}) {
    @content;
  }
}

@mixin break_hg {
  @media (min-width: #{$hg_breakpoint -1}) {
    @content;
  }
}


@mixin max_xs(){
  @media (max-width: #{$xs_breakpoint -1}) {
    @content;
  }
}

@mixin max_md(){
  @media (max-width: #{$md_breakpoint - 1}) {
    @content;
  }
}

@mixin max_lg(){
  @media (max-width: #{$lg_breakpoint -1}) {
    @content;
  }
}

@mixin max_xl(){
  @media (max-width: #{$xl_breakpoint -1}) {
    @content;
  }
}

@mixin max_hg(){
  @media (max-width: #{$hg_breakpoint -1}) {
    @content;
  }
}


@mixin min_xs(){
  @media (min-width: #{$xs_breakpoint}) {
    @content;
  }
}

@mixin min_md(){
  @media (min-width: #{$md_breakpoint}) {
    @content;
  }
}

@mixin min_lg(){
  @media (min-width: #{$lg_breakpoint}) {
    @content;
  }
}

@mixin min_xl(){
  @media (min-width: #{$xl_breakpoint}) {
    @content;
  }
}

@mixin min_hg(){
  @media (min-width: #{$hg_breakpoint}) {
    @content;
  }
}

